.card-renting {
  background-color: #927E6A;
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
  width: 400px;
  color: black;
  border: 5px solid #F1E8C7;
}

.container-background {
  h1,h2{
    color:white
  }
}
