.card-renting {
  background-color: #F1E8C7;
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
  width: 350px;
  color: black;
  border: 5px solid #927E6A;
  display: flex;
  height: 120px;
  justify-content: space-between;
  h3, h5 {
    color: black;
  }
}

.card-product {
  background-color: #F1E8C7;
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
  width: 400px;
  color: black;
  border: 5px solid #927E6A;
  display: flex;
  height: 150px;
  justify-content: space-between;

}
.card-renting-info {
  display: flex;
  justify-content: left;
  align-items: center;
}

.card-renting i{
  margin-right: 5px;
}

.card-renting-image {
  background-color: #583b1e;
  margin-inline: 3px;
  height: 100%;
  img {
    object-fit: scale-down;
    height: 100px;
    width: 100px;
  }
}
.card-renting-dates {
  margin-left: 10px
}

.container-background {
  h1,h2{
    color:white
  }
  justify-content: center;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://res.cloudinary.com/demv6536i/image/upload/v1685452443/monster_slicer/background-wall.jpg);
  min-height: 100vh;
}

.sword {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  img{
    width: 100%;
    object-fit: contain;
    position : sticky;
    top: 150px;
  }
  height : 95vh;
  width : 200px;
}
