.devise-container {
  h2 {
    color: white;
    text-align: center;
  }
  div {
    color: white;
  }
}

.devise-background-container{
  min-height: 90vh;
  min-width: 100vw;
  padding-top: 20px;
}

.small-text{
  margin-top: 0.25rem;
  font-size: 0.875em;
}
