<div class = "banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path 'nshulbh5gmqz8pkrwsus', crop: :fill %>')"
>
  <div class="container">
    <h1>Welcome travelers to the Monster Slicer™ marketplace</h1>
    <div class = "buttons-container">
      <div id = "button-buy" class = "button-gold"  style="background-image: url('<%= cl_image_path 'ufw8ikcwsrw2drshdgho', crop: :fill %>')">
        <h2>Buy</h2>
      </div>
      <div id="button-sell" class = "button-gold" style="background-image: url('<%= cl_image_path 'ufw8ikcwsrw2drshdgho', crop: :fill %>')">
        <h2>Sell</h2>
      </div>
    </div>

  </div>
</div>
