<div class = "banner">
  <div class="container">
    <h1>Welcome travelers to the Monster Slicer™ marketplace</h1>
    <div class = "buttons-container">
      <div id = "button-buy" class = "button-gold">
        <h2>Buy</h2>
      </div>
      <div id="button-sell" class = "button-gold">
        <h2>Sell</h2>
      </div>
    </div>

  </div>
</div>
