// Le css de la page globale est dans pages/_products_index

.products-cards {
  background-color: #f9ffdc;
  padding: 10px;
  width: 84%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 5px;
}

.products-card {
  background-color: #927E6A;
  padding: 10px;
  margin: 10px;
  width: 350px;
  position: relative; /* Permet de positionner les éléments enfants */
  border: 1px solid;
}

.contenu {
  background-color: #F1E8C7; /* Couleur de fond irrégulière du contenu */
  position: relative; /* Permet de positionner le contenu */
  z-index: 2; /* Permet d'empiler le contenu au-dessus des rouleaux */
  font-family: 'VT323', monospace;
}

.contenu-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.contenu-text {
  width: 75%;
}

.contenu-text p{
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

.contenu-price {
  width: 20%;
  .price {
    font-size: 30px;
  }
}

.contenu-price img {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
