// Le css de la page globale est dans pages/_products_index

.products-cards {
  background-color: #f9ffdc;
  padding: 10px;
  width: 84%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 5px;
}

.products-card {
  background-color: #927E6A;
  padding: 10px;
  margin: 10px;
  width: 350px;
  position: relative; /* Permet de positionner les éléments enfants */
  border: 1px solid;
  height: auto;
}

.contenu {
  background-color: #F1E8C7;
  position: relative; /* Permet de positionner le contenu */
  font-family: 'VT323', monospace;
  padding-top: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contenu-img {
  background-color: #927E6A;
  margin-inline: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  img {
    object-fit: cover;

  }
}

.contenu-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  height: 70%;
}

.contenu-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.contenu-text {
  p {
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
  }
  img {
    position: absolute;
    right: 16px;
    top: -30px;
    width: 40px;
  }
}

.contenu-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: right;
  padding-right: 10px;
  padding-block: 10px;
  .price {
    font-size: 25px;
    align-items: center;
    i {
      color: #f3c70d;
      font-size: 20px;
      text-shadow: -3px 3px 4px #9f7503;
    }
  }
  .contenu-category {
    display: flex;
    align-items: center;
    i {
      margin-right: 10px;
    }
  }
}

// .contenu-price img {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  }

.category-selector form{
  display: flex;
  flex-direction: column;
}
