<div class="fill-container" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('<%= cl_image_path "monster_slicer/background-wall"%>')">

  <div class="container">
    <%= render 'form', product: @product %>
  </div>

</div>
