<div class="fill-container" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= asset_url 'background-wall.jpg' %>')">


  <div class="container">
    <%= render 'form', product: @product %>
  </div>

</div>
