<div class="fill-container" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= asset_url 'background-wall.jpg' %>'); min-height: 100vh;">


  <div class="container mt-4 background-product-new">
    <%= render 'form', product: @product %>
  </div>

</div>
