<div class="fill-container" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%= asset_url 'background-wall' %>')">

  <div class="container">
    <%= render 'form', product: @product %>
  </div>

</div>
